#test  {
  width: 150px;
}

ul #bikeInfo {
  list-style-type: none;
}

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.dataOutput {
  display: flex;

}

.dataOutput * {
  flex: none | [<'flex-grow'> <'flex-shrink'>? || <'flex-basis'>]
}
